/* EventBlock.css */
.event-block {
    width: 30vw;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #000000;
}

.event-block h2 {
    margin-top: 0;
}

.event-block pre {
    background-color: #e9e9e9;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
}